<a href="https://gitlab.com/basicalgebra/algbas/edit/master/content/{{ .File.Path }}" target="_blank" ><span><i class="fa fa-edit"></i> Edita esta página</span></a><br>
<a href="/algbas/howto" ><span><i class="fa fa-question-circle"></i> Cómo editar</span></a><br>
<a href="https://gitlab.com/basicalgebra/algbas" target="_blank" ><span><i class="fa fa-gitlab"></i> Código fuente</span></a><br>
